
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  color: #faebd7;
}

.header {
  background-color: #5a44aa;
  height: 70px;
}

.header-icon {
  color: #faebd7;
}

.menu-bars {
  font-size: 2rem;
  background: none;
}

.appTitle a {
  color: #faebd7;
  text-decoration: none;
}

.header,
.appTitle a:hover,
.header-icon:hover,
h1:hover {
	color:  hsl(308, 100%, 55%);
	transition: color 0.3s;

}


