* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  color: #faebd7;
}

.header {
  background-color: #5a44aa;
  height: 70px;
}

.header-icon {
  color: #faebd7;
}

.menu-bars {
  font-size: 2rem;
  background: none;
}

.appTitle a {
  color: #faebd7;
  text-decoration: none;
}

.header,
.appTitle a:hover,
.header-icon:hover,
h1:hover {
  color: hsl(308, 100%, 55%);
  transition: color 0.3s;
}

.crypto-card-container {
  min-height: 65vh !important;
}

.crypto-card {
  min-width: 226px;
}
.crypto-card .crypto-image {
  width: 35px;
}

.search-crypto {
  margin: 20px auto 30px auto;
  width: 500px;
}

.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-right: 35px;
}
.show-more {
  margin-top: 0px !important;
}

.select-news {
  width: 200px;
}
.news-card {
  min-height: 400px;
}
.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}
.news-title {
  width: 70%;
}

.news-card p {
  color: black;
  margin: 10px 0px !important;
}
.provider-container {
  display: flex;
  justify-content: space-between;
}
.provider-name {
  margin-left: 10px;
}

.coin-detail-container {
  margin: 30px;
}

@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
  margin-bottom: 40px;
}

.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.coin-heading-container .coin-name {
  font-weight: 900;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #7a77ff;
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
  font-weight: 800;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link h3 {
  font-weight: 700;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  font-weight: 700;
  font-size: 1rem;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.current-price {
  margin-top: 0px !important;
  font-weight: 900 !important;
}

.time-period {
	display: flex;
	flex-direction: row-reverse;
}

.time-buttons {
  border: none;
  margin-right: 5px;
}
